# Database Connection configuration
DB_USER=shifat_admin
DB_PASSWORD=shifat_secure_pass
DB_NAME=shifat_db
DB_PORT=5202

# Redis configuration
REDIS_PORT=5203

# MinIO (S3) configuration
MINIO_ROOT_USER=shifat_minio_admin
MINIO_ROOT_PASSWORD=shifat_minio_pass
MINIO_API_PORT=5204
MINIO_CONSOLE_PORT=5205

# Mailpit (local SMTP dev service)
MAILPIT_SMTP_PORT=5206
MAILPIT_UI_PORT=5207
